.container { 
  display:grid; 
  grid-template-columns:repeat(3,1fr); 
  gap:15px; 
  margin: 20px auto;  
  width: 80%; 
}
.panel { 
  background:#111827; 
  padding:10px; 
  border-radius:10px; 
}
.bars { 
  display:flex; 
  align-items:flex-end; 
  height:150px; 
  justify-content: center;
}
.bar { 
  width:20px; 
  margin:2px; 
  background:#3b82f6; 
  transition:0.2s; 
}
.bar.active { 
  background:red; 
}
.bar.swap { 
  background:green; 
}
.bar.sorted { 
  background:#22c55e; 
}
.stats { 
  font-size:12px; 
  margin-top:5px; 
}